.App {
  text-align: center;
  background-color: #f3f3fd;
  min-height: 100vh;
}

.App-logo {
  height: 400px;
  pointer-events: none;
  margin-left: 105px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.ThreeLineText-container {
  display: flex; 
  align-items: center; 
}

.ThreeLineText1 {
  font-size: 80px; 
  font-weight: bold; 
  text-align: left;
  font-family: cursive;
  line-height: 0.5;
  margin-bottom: -50px;
}

.ThreeLineText2 {
  font-size: 20px; 
  text-align: left;
  line-height: 0.2; 
}

h1{
  font-size: 60px;
  color: rgb(119, 12, 133);
  margin-top: 10px;
  margin-left: 10px;
}
